<%= form_with(model: service) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

<!--  <div class="field">-->
    <%#= form.label :category_id %>
    <%#= form.text_field :category_id %>
<!--  </div>-->

  <div class="field">
    <%= form.label :category %>
    <%# byebug %>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name, id: 'operation_purpose_id' %>
    <%#= form.collection_select :name, @categories.map(&:name), selected: @categories.first.name %>
    <%#= form.select :category_id, @categories.map(&:name), :name, @service.category.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
