<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_list.service.id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @order_list.service.name %>
</p>

<p>
  <strong>Specialist:</strong>
  <%= @order_list.specialist.name %>
</p>

<%= link_to 'Edit', edit_order_list_path(@order_list) %> |
<%= link_to 'Back', order_lists_path %>
