<p id="notice"><%= notice %></p>
<!--Team Section-->
<div class="container-fluid padding">
  <div class="row text-center">
    <div class="col-12">
      <h3 class="display-4">Специалисты сервиса:</h3>
    </div>
  </div>
  <hr>
</div>
<!--Team Cards-->
<div class="container-fluid padding">
  <div class="row padding">
    <% @specialists.each do |specialist| %>
      <div class="col-md-4">
        <div class="card" style="width:395px">
          <%= image_tag("face2.png", class: "card-img-top" "img-fluid", height: "400px") %>
          <div class="card-body">
            <h2 class="display-5"><%= specialist.name %></h2>
            <p>Стаж с: <%= specialist.created_at.strftime("%d-%m-%Y") %></p>
            <p>Выполнил услуг: <%= link_to specialist.order_lists.count,
                                           specialist_order_lists_path(specialist.id) %>
            </p>
            <tr>
              <td></td>
              <td><%= link_to 'Show', specialist %></td>
              <td><%= link_to 'Edit', edit_specialist_path(specialist) %></td>
              <td><%= link_to 'Destroy', specialist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <!--          <button type="button" class="btn btn-outline-secondary btn-lg">Contact Me</button>-->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'Добавить сотрудника', new_specialist_path %>
