<p id="notice"><%= notice %></p>

<div class=row>
  <div class="col-md-4">
    <h2>Заказы:</h2>
    <!--    <div class="btn-group mb-3">-->
    <!--    </div>-->

  </div>

  <table>
    <thead>
    <tr>
      <th><%= sort_link(@q, :client_name, 'Клиент:', default_order: :desc) %></th>
      <th><%= sort_link(@q, :phone, 'Тел.:', default_order: :desc) %></th>
      <th><%= sort_link(@q, :car, 'Авто:', default_order: :desc) %></th>
      <th><%= sort_link(@q, :created_at, 'Дата:', default_order: :asc) %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.client_name %></td>
        <td><%= order.phone %></td>
        <td><%= order.car %></td>
        <td><%= order.updated_at.to_formatted_s(:short) %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <br>
  <div clas=col-md-2>
    <div class="btn-group mb-12">
      <%= link_to 'Добавить новый заказ', new_order_path, class: "btn btn-primary" %>
      <%= link_to "Скачать в формате Excel", orders_path(format: :xlsx),
                  class: "btn btn-secondary", order: "flex" %>
    </div>
  </div>
</div>
