<p id="notice"><%= notice %></p>

<p>
  <strong>Клиент:</strong>
  <%= @order.client_name %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Машина:</strong>
  <%= @order.car %>
</p>

<p>
  <strong>Заказал:</strong>

<ol>
  <% @order.order_lists.map do |list| %>

    <li> <%= list.service.name %>
      (<%= link_to list.service.category.name, category_path(list.service.category.id) %>),
      Сотрудник: <%= link_to list.specialist.name, specialist_path(list.specialist.id) %>
      <td><%= link_to 'Показать', order_list_path(list.id) %></td>
      <td><%= link_to 'Редактировать', edit_order_list_path(list.id) %></td>
      <td><%= link_to 'Удалить', order_list_path(list.id),
                      method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </li>
  <% end %>
</ol>
</p>

<%= link_to 'Редактировать заказ', edit_order_path(@order) %> |
<%= link_to 'Назад', orders_path %>
